<footer>
    <div class="f-info">
        <div class="f-socials">
         <i class="fa-brands fa-square-facebook"></i>
         <i class="fa-brands fa-x-twitter"></i>
         <i class="fa-brands fa-square-instagram"></i>
        </div>
        <div class="f-infobrand">
            <p>&copy;book my stay privatet.ltd</p>
        </div>
        <div class="f-infolink">
            <ul>
                <li><a href="/privacy">privacy</a></li>
                <li><a href="/terms">terms</a></li>
            </ul>
            
        </div>
    </div>
</footer>