<% layout("./layouts/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Create A New Listing</h1>
    <form action="/listings" method="post" class="needs-validation newListing-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title" class="from-label">Title</label>
              <input type="text" name="title" placeholder="enter your title" class="form-control" required>
              <div class="valid-feedback">Looks good!</div> 
              <div class="invalid-feedback">please provide a valid name</div>
            </div>
            <div class="mb-3">
              <label for="description" class="from-label">Description</label>
              <textarea name="description" placeholder="enter discription" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="from-label">Upload Image</label>
                <input type="file" name="listing[image]"  class="form-control" required>
            </div>                       
            <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="from-label">Price</label>
                <input  type="number" name="price" placeholder="enter price" class="form-control" required>
            </div>
            <div class="mb-3 col-md-8">
                  <label for="location" class="from-label">Location</label>
                  <input type="text" name="location" placeholder="enter location" class="form-control" required>
            </div>
            </div>
            <div class="mb-3">
                <label for="country" class="from-label">Country</label>
                <input type="text" name="country"  placeholder="enter country" class="form-control" required >
            </div>
            <div class="mb-3">
  <label for="catagory" class="form-label">Category</label>
  <select name="catagory" class="form-control" required>
    <option value="">-- Select Category --</option>
    <option value="trending">trending</option>
    <option value="rooms">Rooms</option>
    <option value="iconic">iconic</option>
    <option value="mountains">Mountains</option>
    <option value="castles">castles</option>
    <option value="Amazing pool">Amazing pool</option>
    <option value="camping">Camping</option>
    <option value="farms">Farms</option>
    <option value="arctic">arctic</option>
    <option value="beach">Beach</option>
    <option value="desert">desert</option>
  </select>
</div>
        
        <br>
        <div class="new-listing">
           <button class="btn btn-primary ">ADD</button>
        </div>
    </form>
    </div>
    </div>


</body>